* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.carousel-item img {
  width: 100%;
  height: 93vh;
}
.about_img {
  min-width: 100%;
  max-height: 280px;
}

body {
  position: relative;
}
.services img {
  content: icon;
  width: 100%;
  height: 50%;

  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  }
}

.Offer_style {
  background: #a6dcef;
}

footer p {
  margin-bottom: 0;
}
/*-----Responshiv css code------*/

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
